alabaster
asn1crypto
astroid
attrs
Automat
Babel
backcall
bleach
boto3
botocore
certifi
cffi
chardet
cloudpickle
colorama
constantly
crochet
cryptography
cssselect
cycler
DateTime
decorator
defusedxml
dj-database-url
Django
django-background-tasks
django-compat
django-crispy-forms
django-heroku
django-storages
docutils
entrypoints
gunicorn
hyperlink
idna
imagesize
importlib-metadata
incremental
ipykernel
ipython
ipython-genutils
isort
jedi
Jinja2
jmespath
jsonschema
jupyter-client
jupyter-core
keyring
kiwisolver
lazy-object-proxy
lxml
MarkupSafe
matplotlib
mccabe
mistune
nbconvert
nbformat
numpy
numpydoc
packaging
pandas
pandocfilters
parsel
parso
path.py
pickleshare
Pillow
prompt-toolkit
psutil
psycopg2
pyasn1
pyasn1-modules
pycodestyle
pycparser
PyDispatcher
pyflakes
Pygments
PyHamcrest
pylint
pyOpenSSL
pyparsing
PyQt5
PyQt5-sip
PyQtWebEngine
pyrsistent
python-dateutil
python-dotenv
python-scrapyd-api
pytz
                                
pyzmq
QtAwesome
qtconsole
QtPy
queuelib
requests
rope
s3transfer
scipy
Scrapy
scrapy-djangoitem
scrapyd
seaborn
service-identity
six
snowballstemmer
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
sqlparse
testpath
tornado
traitlets
Twisted
typed-ast
urllib3
w3lib
wcwidth
webencodings
websockets
whitenoise
wrapt
zipp
zope.interface
